.left-pannel{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BFFFC3;
}

img{
    width: 200px;
}